body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.imagePhoto {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

.parent-image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  margin: auto;
}

.imgAvatar {
  width: 120%;
  height: 120%;
  object-fit: cover;
  object-position: bottom;
}

.card__description {
  text-align: center;
}

.description__name {
  color: #D3573C;
  font-size: 36px;
  font-family: "DM Sans", sans-serif;
  margin: 10px auto 5px auto;
}

.description__localisation {
  color: #901C1C;
  font-weight: 400;
  font-size: 13px;
}

.description__slogan {
  font-weight: 400;
  font-size: 10px;
}

.description__price {
  color: #757575;
  font-size: 9px;
}

.section__parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 95%;
  margin: auto;
}

.portfolio__carte {
  width: 350px;
  height: 350px;
  overflow: hidden;
  justify-self: center;
}

.selection {
  margin: auto 100px;
}

#contact_modal {
  display: none;
  background-color: rgba(255, 255, 255, 0.749);
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.contact__button {
  margin: auto;
  font-size: 15pt;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 500px;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 55px 50px 55px;
  margin: 20px auto;
}

.modal__erreur {
  display: none;
}

.modal__succes {
  display: none;
}

.modal header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.modal__contactez {
  font-size: 35pt;
  font-weight: 500;
  color: black;
  text-align: left;
  padding: 0;
  margin: 0 0 100px 0;
}

.modal__contactez h2 {
  padding: 0;
  margin: 0;
  font-size: 35pt;
  font-weight: 500;
  color: black;
  text-align: left;
  white-space: nowrap;
}

.form__ensemble {
  margin: 40px 0 20px 0;
}

#envoyer__button {
  display: flex;
  margin: auto 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  font-size: medium;
  padding: 15px 40px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.form__label {
  color: #312E2E;
  font-size: 26px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
}

form input[name="Your message"] {
  height: 150px;
}

.selection-style {
  padding: 0;
  margin: 0 20px;
  border: 0px solid #ccc;
  width: 200px;
  height: 45px;
  font-size: 15pt;
  font-weight: 700;
  border-radius: 3px;
  color: white;
  overflow: hidden;
  background-color: #901C1C;
  background: #901C1C;
  position: relative;
}

.selection-style select {
  font-size: 15pt;
  color: white;
  font-weight: 700;
  padding: 10px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: #901C1C;
  background-image: none;
}

.selection-style * {
  font-size: 18px;
  color: white;
  font-weight: 700;
  width: 100%;
  border: none;
  box-shadow: none;
  background-image: none;
}

.select-style:after {
  top: 50%;
  left: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgb(255, 255, 255);
  border-top-color: #000000;
  border-width: 5px;
  margin-top: 2px;
  z-index: 100;
}

.select-style select:focus {
  outline: none;
  inline-size: 0;
}

.portfolio__carte {
  position: relative;
  align-self: center;
}

.carte__photo {
  width: 100%;
  height: 80%;
  object-fit: cover;
  margin: auto;
  border-radius: 5px;
}

.description__carte {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.carte__titre {
  color: #901C1C;
  font-size: 15pt;
  font-weight: 600;
  white-space: nowrap;
}

.carte__ensemble-like {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  white-space: nowrap;
  color: #901C1C;
  font-weight: 600;
}

.carte__likes {
  margin: 5px;
}

.carte__like--bouton {
  margin: 5px;
  color: #901C1C;
}

.fa-couleur {
  color: #901C1C;
}

.ensemble__selection {
  margin-left: 100px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.carte__video {
  width: 100%;
  height: 80%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
}

.etiquette {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 30px;
  background-color: #DB8876;
  font-size: 26px;
  font-weight: 600;
  color: black;
  z-index: 1;
  padding: 10px 20px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  right: 0;
  width: 300px;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  width: 90%;
  margin: auto;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  width: 90%;
  margin: auto;
}

.header__description {
  width: auto;
  margin-left: 0;
}

.header-description__slogan {
  font-size: 23px;
  color: #525252;
  padding: 20px 0;
}

.header-description__localisation {
  font-size: 24px;
  color: #901C1C;
}

.header-description__name {
  font-weight: 400;
  font-size: 64px;
  color: #D3573C;
  padding: 0;
  margin: 0;
}

.header__parent-image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 0;
}

.lightbox {
  background-color: rgba(255, 255, 255, 0.632);
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 10;
}

.lightbox figure {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.lightbox figure figcaption {
  width: 70%;
  display: block;
  margin-left: 0;
  text-align: left;
  font-weight: 700;
  font-size: 20pt;
  color: #901C1C;
}

.lightbox__image {
  margin: auto;
  width: 70%;
  max-height: 600px;
  object-fit: contain;
}

.button-left {
  color: #901C1C;
}

.button-right {
  color: #901C1C;
}

.button-close {
  color: #901C1C;
  position: absolute;
  right: 0;
  top: 0;
}

/*# sourceMappingURL=style.css.map */
