

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.header__article{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:50px;
}